.radio-form {
    min-width: 20vw;
    margin-top: 5%;
    text-align: left; /* 左对齐整体内容 */
}

.radio-form label {
    display: block; /* 垂直排列 */
    font-size: 1.9em;
    margin-bottom: 2.5vw; /* 每项间距 */
    cursor: pointer; /* 鼠标悬停显示手型 */
}

.radio-form input[type="radio"] {
    margin-right: 0.25vw; /* 单选框与文字间距 */
}
