#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center; /* 主轴(水平)居中 */
    align-items: center;
    padding: 1.5%;
    font-size: min(3cqw, 2cqh);
}

.square {
    height: 100%;
    width: min(100%, 100vh);
}
.center-text {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}
